<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xavier's School For Gifted Youngsters Libarary | Book</title>
    <link rel="icon" href="/img/logo_gold.png">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic-ui/dist/components/form.css">
     <link rel="stylesheet" type="text/css" href="css/book.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/semantic/semantic-ui/dist/components/form.js"></script>
    <script src="/semantic/semantic-ui/dist/components/transition.js"></script>
    <script src="/semantic/semantic-ui/dist/semantic.min.js"></script>
    <script src="assets/library/jquery.min.js"></script>
    <script src="/semantic/semantic-ui/dist/components/visibility.js"></script>
    <script src="/semantic/semantic-ui/dist/components/sidebar.js"></script>
    <script src="/semantic/semantic-ui/dist/components/transition.js"></script>
    <script src="/js/book.js"></script>
    <script src={{timeout}}></script>
</head>
<body>
    <!-- Following Menu -->
    <!-- <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="active item">Books</a>
            <a class="item">Profile</a>
            <a class="item">Login</a>
        </div>
    </div> -->

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item" href="/">Books</a>
        <a class="item" href="/profile">Profile</a>
        <a class="item" href="logout">Logout</a>
    </div>

    <div class="container-main">
        <div class="ui vertical masthead center aligned segment">
            <div class="ui mobile stackable grid" style="width: inherit;">
                <div class="left aligned row" style="width: fit-content;">
                    <div class="four wide left aligned computer only column">
                        <div class="ui center aligned page image">
                            <img class="center" src="/img/logo_gold_big.png" alt="Logo Failed To Load"
                                style="width: 12em; height: 12em; margin-bottom: -8em; margin-left: 10em; margin-top: 0em;">
                        </div>
                    </div>
                    <div class="ui container">
                        <div class="ui large inverted secondary pointing six wide column menu"
                            style="border-color: transparent; background-color: transparent;">
                            <a class="toc item">
                                <i class="sidebar icon"></i>
                            </a>
                            <div class="ui center aligned container" style="width: min-content;">
                                <a class="active item" href="/">Books</a>
                                <a class="item" href="/profile">Profile</a>
                                <a class="item" href="logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui two row center aligned grid">
        <div class="row">
            <div class="ui two column center aligned stackable grid" style="margin-top: 5%;">
                <div class="four wide center aligned column">
                    <!-- <h1 class="ui huge center aligned icon container" style="margin-top: 1em;"> -->
                    <div class="row">
                        <div class="ui icon container"
                            style="border-width: 2px; border-color: black; margin-bottom: 4em;">
                            <i class="massive middle aligned book icon"></i>
                        </div>
                    </div>
                    <div class="center aligned middle aligned row" style="text-align: center;">
                        <div class="ui center aligned container" style="width: fit-content;">
                            <div class="ui fluid large yellow button" id="button-borrow"
                                style="background: rgb(184, 164, 56);">Borrow</div>
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    {{#with book}}
                    <div class="ui padded container">
                        <h1 class="ui left aligned header" id="book-title" style="margin-left: auto;">{{title}}</h1>
                        <div class="ui two column grid">
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">Author/s:</div>
                                <div class="ten wide left aligned column" id="book-author" style="font-weight: bolder;">John Doe</div>
                                {#each author}}
                                {{#if @index}}, {{/if}}
                                <div class="ten wide left aligned column" id="book-author" style="font-weight: bolder;">{{firstname}} {{lastname}}</div>
                                {{/each}}
                            </div>
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">Publisher:</div>
                                <div class="ten wide left aligned column" id="book-publishinghouse" style="font-weight: bolder;">{{publisher}}</div>
                            </div>
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">Year of Publication:</div>
                                <div class="ten wide left aligned column" id="book-yearofpublication"
                                    style="font-weight: bolder;">{{year_of_publication}}</div>
                            </div>
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">ISBN:</div>
                                <div class="ten wide left aligned column" id="book-isbn"
                                    style="font-weight: bolder;">{{isbn}}
                                </div>
                            </div>
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">Call Number:</div>
                                <div class="ten wide left aligned column" id="book-callnumber"
                                    style="font-weight: bolder;">{{callNumber}}</div>
                            </div>
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">Date Added:</div>
                                <div class="ten wide left aligned column" id="book-dateadded"
                                    style="font-weight: bolder;">{{date_added}}</div>
                            </div>
                            <div class="left aligned row" style="margin-bottom: -1em;">
                                <div class="six wide left aligned column">Status:</div>
                                <div class="ten wide left aligned column" id="book-status"
                                    style="font-weight: bolder;">
                                    Reserved
                                </div>
                            </div>
                            <div class="left aligned row" id="div-nextreservedate" style="margin-bottom: -1em; display: none;">
                                <div class="six wide left aligned column">Next Available Date:</div>
                                <div class="ten wide left aligned column" id="book-reservedate"
                                    style="font-weight: bolder;">05/13/2020</div>
                            </div>
                        </div>
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ui container" style="height: 420px; width: 70%;">
                <h3 class="ui large left aligned header" id="reviews">Reviews</h3>
                <div class="ui container padded segment" style="height: 300px; overflow-y: scroll;">
                    <div class="ui container padded segment">
                        {{#with book}}
                        {{#each review}}
                        <div class="ui divided two column stackable grid">
                            <div class="four wide center aligned middle aligned column">
                                <h4>{{user}}</h4>
                            </div>
                            <div class="twelve wide column">
                                <div class="row" id="date-posted" style="font-weight: lighter; margin-bottom: 0.5em;">
                                    {{create_date}}</div>
                                <div class="row" id="book-review">{{review_text}}</div>
                            </div>
                        </div>
                        {{/each}}
                        {{/with}}

                    </div>

                    <div class="ui container padded segment">
                        <div class="ui divided two column stackable grid">
                            <div class="four wide center aligned middle aligned column">
                                <h4 id="review-user">User</h4>
                            </div>
                            <div class="twelve wide column">
                                <div class="row" id="date-posted" style="font-weight: lighter; margin-bottom: 0.5em;">
                                    04/29/2020</div>
                                <div class="row" id="book-review">Why am I such a procrastinator...</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="ui right floated small labeled icon button" id="button-review">
                        <i class="pencil icon"></i> Write Book Review
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Write Book Review Modal -->
    <div class="ui small scrolling modal" id="modal-writebookreview">
        <i class="close icon"></i>
        <div class="header">
            Write Book Review
        </div>
        <div class="content">
            <form class="ui reply form">
                <div class="field">
                    <textarea id="textarea-review"></textarea>
                </div>
                <div class="ui blue labeled submit icon button">
                    <i class="save icon"></i> Save Review
                </div>
            </form>
        </div>
    </div>

    <!-- Borrow Book Modal -->
    <div class="ui small basic modal" id="modal-borrowbook">
        <i class="close icon"></i>
        <div class="header">
            Borrow Book
        </div>
        <div class="content">
            Do you wish to borrow this book?
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui green ok right inverted button" id="button-borrowbook">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
</body>
</html>